body {
  margin: 0;
  padding: 0;
  font-family: "MedievalSharp", Arial, sans-serif;
  background-image: url("../public/bg1.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.configuration-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  height: 100%;
}

h1 {
  font-size: 3em;
  color: #8b4513;
  text-shadow: 2px 2px #fff;
  margin-bottom: 20px;
  font-family: "MedievalSharp", Arial, sans-serif;
}
